<!DOCTYPE html>
<html>
<head>
	<title> ABOUT US!</title>
</head>
<body>
	<h1>This is the about page!</h1>
</body>
</html>
<div>
	<%= link_to "hello world", root_path %>
	<%= link_to "about", about_path %>
</div>